In [1]:
import pandas as pd

In [3]:
defunciones_df = pd.read_csv('Resources/defunciones_corte18abril.csv')
defunciones_df.head()

/home/uriel/.local/share/virtualenvs/cdmx-covid-analysis-OOKfBqux/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (5,7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,edad,sexo,fec_defuncion,estado,causa,causa_registro,alcaldia,LugarMuerte,num_consecutivo
0,48.0,Hombre,2021-04-10,CIUDAD DE MEXICO,Otra,"CHOQUE SEPTICO, NEUMONIA ATIPICA, SINDROME DE ...",MIGUEL HIDALGO,Hospital,420527
1,67.0,Hombre,2021-04-10,CIUDAD DE MEXICO,Covid-19 Confirmado o Sospecha,"CHOQUE SEPTICO, NEUMONIA ATIPICA POR PROBABLE ...",GUSTAVO A MADERO,Hospital,420526
2,49.0,Mujer,2021-04-10,CIUDAD DE MEXICO,Otra,"INFARTO AGUDO AL MIOCARDIO, TROMBOSIS VENOSA P...",IZTAPALAPA,Domicilio,420525
3,76.0,Mujer,2021-04-10,CIUDAD DE MEXICO,Otra,"COQUE SEPTICO, INFECCION DE VIAS URINARIAS, HI...",GUSTAVO A MADERO,Domicilio,420524
4,82.0,Mujer,2021-04-10,CIUDAD DE MEXICO,Otra,"ACIDOSIS METABOLICA, CHOQUE SEPTICO, INFECCION...",AZCAPOTZALCO,Hospital,420523

In [10]:
defunciones_df.groupby('causa').count()

,edad,sexo,fec_defuncion,estado,causa_registro,alcaldia,LugarMuerte,num_consecutivo
causa,,,,,,,,
Covid-19 Confirmado o Sospecha,69675,69688,69688,69342,69688,49953,67050,69688
Otra,350687,350839,350839,344783,121310,227096,101832,350839